@import '../../../..//common/styles/index';

@mixin form-group {
  position: relative;
  margin-bottom: 1.5rem;
  .teaser {
    font-size: FONT_SIZES(medium);
    font-weight: 300;
    line-height: 1.43;
    color: COLOR(grey-600);
  }

  .checkbox {
    display: flex;
    justify-content: space-between;
    align-items: center;

    input[type='checkbox'] {
      display: none;
    }
    input[type='checkbox'] + label::before {
      width: 24px;
      height: 24px;
      background-image: ASSETS_URL('icons/checkbox-inactive.svg');
      display: block;
      content: '';
      float: left;
      margin-top: 7px;
      margin-right: 10px;
      cursor: pointer;
    }
    input[type='checkbox']:checked + label::before {
      background-image: ASSETS_URL('icons/checkbox-active.svg');
    }

    span {
      margin-left: auto;
      width: 100%;
      font-size: FONT_SIZES(medium);
    }
  }
}

:host {
  .form-group {
    @include form-group;
  }
  .submit {
    margin-top: 25px;
  }

  button {
    border-radius: unset;
    width: 100%;
  }
}
