@import '../../styles';

.color-switch {
  border: solid 0px transparent;
  box-shadow: rgba(130, 130, 130, 0.2) 0px 90px 100px 0px, rgba(0, 0, 0, 0.3) 0px 0px 4px 0px;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.3s;
  background: transparent;

  @include MEDIA_QUERY(lg) {
    width: 20px;
    height: 20px;
    border: solid 1px transparent;
    box-shadow: none;
  }

  .inner-container {
    border-radius: 50%;
    background-color: transparent;
    width: 10px;
    height: 10px;
    text-align: center;
    line-height: 12px;

    @include MEDIA_QUERY(lg) {
      line-height: 18px;
      width: 16px;
      height: 16px;
    }
  }
}
