@import 'src/app/common/styles';

h3 {
  font-size: FONT_SIZES(medium);
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.43;
  letter-spacing: normal;
  color: COLOR(grey-600);
  margin-bottom: 2px;
}

p {
  margin-bottom: 0;
  font-size: FONT_SIZES(medium);
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.43;
  letter-spacing: normal;
  color: COLOR(grey-600);
}

.section {
  margin-bottom: 16px;
}

img {
  max-width: 80px;
  margin-bottom: 16px;
}

a {
  color: COLOR(black);
  font-weight: 500;
}
