$colors: (
  white: #ffffff,
  grey-050: #fafafa,
  grey-075: #f5f5f5,
  grey-100: #e6e6e6,
  grey-150: #d7d7d7,
  grey-200: #c3c3c3,
  grey-300: #a5a5a5,
  grey-400: #646464,
  grey-500: #323232,
  grey-600: #222222,
  black: #000000,
  lemon-100: #ffffeb,
  lemon-200: #fafac8,
  lemon-300: #faf587,
  lemon-400: #ebeb78,
  lemon-500: #dcdc69,
  lemon-600: #b9b95a,
  sweet-corn-100: #fffaeb,
  sweet-corn-200: #faf0c8,
  sweet-corn-300: #ffe673,
  sweet-corn-400: #f0c34b,
  sweet-corn-500: #d2aa32,
  sweet-corn-600: #a58228,
  sahara-100: #fff5e6,
  sahara-200: #ffe6c8,
  sahara-300: #ffc373,
  sahara-400: #d29b50,
  sahara-500: #a5783c,
  sahara-600: #7d5a2d,
  papaya-100: #fff5f0,
  papaya-200: #ffe6d7,
  papaya-300: #f09b64,
  papaya-400: #eb7837,
  papaya-500: #b45014,
  papaya-600: #8c4114,
  peach-100: #fff5f5,
  peach-200: #fae6e1,
  peach-300: #f59b7d,
  peach-400: #d76950,
  peach-500: #af553c,
  peach-600: #7d3c28,
  coral-100: #faf0f0,
  coral-200: #f5d7d7,
  coral-300: #e65f55,
  coral-400: #be463c,
  coral-500: #91281e,
  coral-600: #691e14,
  spanish-rose-100: #faf5f5,
  spanish-rose-200: #f5e1e1,
  spanish-rose-300: #ebaaaa,
  spanish-rose-400: #c37878,
  spanish-rose-500: #874646,
  spanish-rose-600: #5f3232,
  charm-100: #f5edf1,
  charm-200: #e6d2dc,
  charm-300: #d27da0,
  charm-400: #af3264,
  charm-500: #7d1e46,
  charm-600: #55142d,
  cherry: #c32341,
  purple-100: #f0f0fa,
  purple-200: #e1dceb,
  purple-300: #ad9bc5,
  purple-400: #785f91,
  purple-500: #504169,
  purple-600: #372d46,
  chetwode-blue-100: #e6ebf5,
  chetwode-blue-200: #c3cdeb,
  chetwode-blue-300: #91a0dc,
  chetwode-blue-400: #7483b1,
  chetwode-blue-500: #465073,
  chetwode-blue-600: #2d324b,
  apple-100: #f5ffeb,
  apple-200: #ebfacd,
  apple-300: #bee187,
  apple-400: #8caf5f,
  apple-500: #698746,
  apple-600: #4b5f32,
  bamboo-100: #f0faeb,
  bamboo-200: #dcebc3,
  bamboo-300: #b4c89b,
  bamboo-400: #879b6e,
  bamboo-500: #697850,
  bamboo-600: #4b5a3c,
  moss-green-100: #ebfaeb,
  moss-green-200: #d2f0cd,
  moss-green-300: #9bcd8c,
  moss-green-400: #6ea069,
  moss-green-500: #557d50,
  moss-green-600: #3c5a37,
  bermuda-green-100: #ebf5f0,
  bermuda-green-200: #c8e6d7,
  bermuda-green-300: #7ddcb4,
  bermuda-green-400: #5ab491,
  bermuda-green-500: #468773,
  bermuda-green-600: #285546,
  tropical-green-100: #ebf5f5,
  tropical-green-200: #c8ebe6,
  tropical-green-300: #37c8b9,
  tropical-green-400: #23968c,
  tropical-green-500: #197369,
  tropical-green-600: #0f4641,
  jade-100: #ebfaf5,
  jade-200: #cdf0eb,
  jade-300: #69b9aa,
  jade-400: #557d75,
  jade-500: #3c5f55,
  neptune-100: #e1f5f5,
  jade-600: #1e322d,
  neptune-200: #c3e1e6,
  neptune-300: #78afb4,
  neptune-400: #5a8287,
  neptune-500: #3c5f64,
  neptune-600: #284141,
  pacific-100: #e6f5f5,
  pacific-200: #bee6eb,
  pacific-300: #50b9c3,
  pacific-400: #37878c,
  pacific-500: #28696e,
  pacific-600: #144141,
  viridian: #1a836c,
  regent-st-blue-100: #e6f5fa,
  regent-st-blue-200: #d2ebf0,
  regent-st-blue-300: #91c8e1,
  regent-st-blue-400: #6496af,
  regent-st-blue-500: #4b7387,
  regent-st-blue-600: #001e32,
  denim-100: #ebf0f5,
  denim-200: #cddce6,
  denim-300: #82a5c3,
  denim-400: #557391,
  denim-500: #415a73,
  denim-600: #1e2d41,
  amethyst-smoke-100: #ebe6eb,
  amethyst-smoke-200: #cdc3cd,
  amethyst-smoke-300: #a091a5,
  amethyst-smoke-400: #827387,
  amethyst-smoke-500: #645569,
  amethyst-smoke-600: #504655,
  barista-100: #f0ebe6,
  barista-200: #e1d2c3,
  barista-300: #aa8773,
  barista-400: #7d6455,
  barista-500: #5f5046,
  barista-600: #50413c,
  electric-yellow: #fff064,
  mango: #ff9628,
  red-orange: #fa3c32,
  pink: #fa1e78,
  electric-violet: #a073dc,
  sulu: #b4eb5f,
  shamrock: #41dc78,
  turquoise: #41e6cd,
  picton-blue: #1ec3f5,
  cobald-blue: #2d6eeb,
  royal-blue: #5f4bf0,
  energy-appe: #019540,
  energy-appp: #019540,
  energy-app: #019540,
  energy-ap: #50af31,
  energy-a: #c7d401,
  energy-b: #feed00,
  energy-c: #fbba01,
  energy-d: #ed6706,
  energy-e: #e30514,
  purchase-default: #19836c,
  purchase-hover: #006856,
  purchase-press: #006856,
);

@function COLOR($name) {
  @if map-has-key($colors, $name) {
    @return map-get($colors, $name);
  }

  @warn "The key #{$name} is not in the map ’$colors";
  @return null;
}

// Usage
// background-color: COLOR(royal-blue);
