$z-circle-button-tooltip: 1000;

$z-plp-grid-tile-app-button: 2;
$z-plp-grid-tile-app-text: 3;
$z-plp-grid-tile-img: 0;

$z-dropdown-content: 5;

$z-header-icon-dropdown-span: 1;
$z-header-icon-dropdown-app-icon: 2;

$z-product-tile-floating-actions-container: 4;
$z-product-tile-entry: 1;
$z-product-tile-active: 2;
$z-product-tile-hovered: 3;
$z-product-tile-toolbox: 3;
$z-product-tile-product-tag-container: 4;

$z-teasers-carousel-item: -1;
$z-teasers-carousel-item-active: 1;
$z-teasers-carousel-control: 2;
$z-teasers-carousel-indicators: 2;

$z-header-logo: 1;
$z-header-search-bar: 9;
$z-header-app-icon: 2;
$z-header-row-0: 9;
$z-header-row-1: 8;
$z-header-row-2: 7;
$z-header-sidebar: 16;
