<div class="next-steps">
  <h2>{{ 'OSP.nextSteps.headline' | translate }}</h2>
  <ul>
    <li class="step">
      <app-icon type="picto" icon="letter" width="100%" height="100%"></app-icon>
      <span>{{'OSP.nextSteps.confirmation' | translate}}</span>
    </li>
    <li class="arrow">
      <app-icon icon="arrow-left" width="100%" height="100%"></app-icon>
    </li>
    <li class="step">
      <app-icon type="picto" icon="truck" width="100%" height="100%"></app-icon>
      <span>{{'OSP.nextSteps.delivery' | translate}}</span>
    </li>
    <li class="arrow">
      <app-icon icon="arrow-left" width="100%" height="100%"></app-icon>
    </li>
    <li class="step">
      <app-icon type="picto" icon="package" width="100%" height="100%"></app-icon>
      <span>{{'OSP.nextSteps.unpacking' | translate}}</span>
    </li>
  </ul>
</div>