@import '../../../../common/styles/index';

.header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: stretch;
  align-items: flex-start;

  .info {
    .item-count-label {
      margin-right: 2rem;
    }
    .actions {
      font-size: FONT_SIZES(small) !important;
      display: flex;
      flex-direction: row;
      .icon-link {
        span {
          vertical-align: top;
          padding-left: 0.5rem;
        }
      }
    }
  }
}
