@import '../../styles/index';

.dropdown {
  transition: all 0.1s ease-out;
  position: relative;

  .heading {
    display: flex;
    margin-bottom: 0.8rem;
    align-items: center;
    font-size: FONT_SIZES(medium);
    color: COLOR(grey-600);
    cursor: default;
    justify-content: flex-end;

    .sort-by {
      font-size: FONT_SIZES(medium);
      margin-right: 0.5rem;
    }
    .sort-by-value {
      font-size: FONT_SIZES(medium);
      font-weight: bold;
      margin-right: 0.3rem;
      cursor: pointer;
    }

    .expander-icon {
      cursor: pointer;
      background-image: ASSETS_URL('icons/chevron-down.svg');
      height: 24px;
      background-repeat: no-repeat;
      width: 26px;
      transition: all 0.1s ease-out;

      &.expanded {
        transform: scale(-1);
      }
    }
  }

  .content {
    position: absolute;
    z-index: $z-dropdown-content;
    border: solid 1px COLOR(grey-150);
    background: COLOR(white);
    right: 0;
    min-width: 260px;

    .item {
      transition: all 0.1s ease-in-out;
      cursor: pointer;
      height: 36px;
      display: flex;
      align-items: center;
      padding: 0 1rem;
      justify-content: flex-end;
      font-size: FONT_SIZES(medium);

      &:hover {
        background: COLOR(grey-075);
      }

      &.selected {
        font-weight: bold;
      }
    }
  }
}

:host {
  width: 260px;
  display: block;
}
