<div>
  <ngx-skeleton-loader
    count="1"
    appearance="lines"
    [theme]="{ height: '10px', marginBottom: '40px', width: '60%' }"
  ></ngx-skeleton-loader>
</div>
<div>
  <ngx-skeleton-loader
    count="1"
    appearance="lines"
    [theme]="{ height: '10px', marginBottom: '10px', width: '20%' }"
  ></ngx-skeleton-loader>
</div>
<div>
  <ngx-skeleton-loader
    count="1"
    appearance="lines"
    [theme]="{ height: '10px', marginBottom: '10px', width: '70%' }"
  ></ngx-skeleton-loader>
</div>
<div>
  <ngx-skeleton-loader
    count="1"
    appearance="lines"
    [theme]="{ height: '10px', marginBottom: '10px', width: '50%' }"
  ></ngx-skeleton-loader>
</div>
<div>
  <ngx-skeleton-loader
    count="1"
    appearance="lines"
    [theme]="{ height: '10px', marginBottom: '60px', width: '30%' }"
  ></ngx-skeleton-loader>
</div>
