<div>
  <ngx-skeleton-loader
    count="1"
    appearance="lines"
    [theme]="{ height: '98px', marginBottom: '30px', width: '100%' }"
  ></ngx-skeleton-loader>
</div>
<div>
  <ngx-skeleton-loader
    count="1"
    appearance="lines"
    [theme]="{ height: '50px', marginBottom: '15px', width: '100%' }"
  ></ngx-skeleton-loader>
</div>
<div>
  <ngx-skeleton-loader
    count="1"
    appearance="lines"
    [theme]="{ height: '50px', marginBottom: '0px', width: '100%' }"
  ></ngx-skeleton-loader>
</div>
