<div class="sidebar" *ngIf="show" @showAnimation (click)="toggleBurgerMenu()">
  <div class="sidebar-content" (click)="$event.stopPropagation()">
    <app-mobile-account-section *ngIf="showAccountsSection" [openedChanged]="accountSectionOpenedChanged"
      [toggleBurgerMenu]="toggleBurgerMenu" [redirectToCheckoutAccountArea]="redirectToCheckoutAccountArea"
      [redirectToCheckoutOrdersArea]="redirectToCheckoutOrdersArea"></app-mobile-account-section>
    <div class="scroll-wrapper">
      <app-mobile-nav *ngIf="showCategoriesSection" [items]="categories"
        [openedChanged]="categoriesSectionOpenedChanged" [activeCategory]="activeCategory" [onSelect]="onCategoryClick"
        [goBackLabel]="'GLOBAL.sidebar.categories.goBackLabel' | translate"
        [showAllLabel]="'GLOBAL.sidebar.categories.showAllLabel' | translate"></app-mobile-nav>
      <app-mobile-footer *ngIf="showLanguageSection" (linkClicked)="onToggleBurgerMenu()"></app-mobile-footer>
      <app-mobile-language-section *ngIf="showLanguageSection" [openedChanged]="languageSectionOpenedChanged"
        [languages]="languages" [selectedLanguage]="selectedLanguage" [onLanguageSelection]="onLanguageSelection">
      </app-mobile-language-section>
    </div>
  </div>
</div>
