<div class="row">
  <div class="col-12 col-md-4">
    <ngx-skeleton-loader count="1" appearance="lines" [theme]="{ height: '35px', width: '80%' }"></ngx-skeleton-loader>
  </div>
  <div class="col-12 col-md-1"></div>
  <div class="col-12 col-md-7 d-none d-sm-block">
    <ngx-skeleton-loader count="1" appearance="lines" [theme]="{ height: '35px', width: '50%' }"></ngx-skeleton-loader>
  </div>
</div>
<div class="row">
  <div class="col-12 col-md-4">
    <ngx-skeleton-loader
      count="1"
      appearance="lines"
      [theme]="{ height: '220px', marginBottom: '10px', marginTop: '10px' }"
    ></ngx-skeleton-loader>
  </div>
  <div class="col-12 col-md-1"></div>
  <div class="col-12 col-md-7">
    <ngx-skeleton-loader
      count="1"
      appearance="lines"
      [theme]="{ height: '20px', width: '30%', marginBottom: '5px', marginTop: '10px' }"
    ></ngx-skeleton-loader>
    <ngx-skeleton-loader
      count="1"
      appearance="lines"
      [theme]="{ height: '175px', marginBottom: '20px', marginTop: '10px' }"
    ></ngx-skeleton-loader>
    <ngx-skeleton-loader
      count="1"
      appearance="lines"
      [theme]="{ height: '20px', width: '40%', marginBottom: '5px', marginTop: '10px' }"
    ></ngx-skeleton-loader>
    <ngx-skeleton-loader count="1" appearance="lines" [theme]="{ height: '125px' }"></ngx-skeleton-loader>
  </div>
</div>
