@import '../../styles/index';

.wrapper {
  display: flex;
  align-items: center;

  button {
    width: 32px;
    height: 32px;
    background: transparent;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding-top: 7px;
    transition: all 0.2s;

    &:hover:not(:disabled) {
      opacity: 0.7;
      &:active {
        opacity: 1;
      }
    }
    &:disabled {
      cursor: not-allowed;
    }
  }

  .value {
    border: 1px solid COLOR(grey-600);
    width: 32px;
    height: 32px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    font-size: FONT_SIZES(medium);
    font-weight: 300;
    line-height: 1.43;
    color: COLOR(grey-600);
  }
}
