<li class="list-group-item" (click)="getDetailLink()" [ngClass]="{ arrow_box: isActive && !isMobile }">
  <div class="card-title">
    <span>
      {{ 'ACCOUNT.pages.' + type + '.order.title' | translate: { date: date | date: 'dd.MM.yyyy' } }}
    </span>
  </div>
  <div class="subtitle first">
    <span *ngIf="referenceKey">
      {{ 'ACCOUNT.pages.' + type + '.order.firstSubtitle' | translate: { id: referenceKey } }}
    </span>
  </div>
  <div class="subtitle second">
    <span>
      {{ 'ACCOUNT.pages.' + type + '.order.secondSubtitle' | translate: { total: total || 0 }
      }}<span class="muted-text" [ngClass]="{ cancelled: isCancelled }"> {{ status }}</span>
    </span>
  </div>
</li>
